# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/

# Dataset
dataset/

# Models
models/

# Features
features/

# Outputs
outputs/

# Logs
*.log

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
Thumbs.db
.DS_Store

# Reports
Report.docx

# Environment / Secrets
.env
*.env
backend/.env